---
layout: page
title: "About"
description: "Hey, Here is Mars."
header-img: "img/about-bg.jpg"
ChineseVersionAboutMe: 想建个博客记录下点滴, 以后回头看看, 希望能从中得到点收获.
EnglishVersionAboutMe: Thinking and recording.
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        <p id="chinese-version-about-me-p">{{ page.ChineseVersionAboutMe }}</p>
    </blockquote>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
       <p id="english-version-about-me-p">{{ page.EnglishVersionAboutMe }}</p>
    </blockquote>
</div>

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var characters_init = '去玩儿推欧赔阿萨德飞规划局看了自行车VB你们全在我伤心的车蔡夫人听广播你还有!@#$?>{}\\/';
    var time_init = 4000;
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
            {% if site.baffle-js %}
                async("/js/baffle.min.js",function(){
                  baffle('#chinese-version-about-me-p')
                  .set({
                      characters: characters_init
                  })
                  .reveal(time_init);
                })
            {% endif %}
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
            {% if site.baffle-js %}
                async("/js/baffle.min.js",function(){
                  baffle('#english-version-about-me-p')
                  .set({
                      characters: characters_init
                  })
                  .reveal(time_init);
                })
            {% endif %}
        }
    }
    onLanChange(0);
</script>

<!-- 来必力City版安装代码 -->
<style>
    #taboola-livere { display: none;}
</style>
<div id="lv-container" data-id="city" data-uid="MTAyMC8zNDkyMC8xMTQ1Nw==">
    <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
    </script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->
